/*seccion Nav*/
#nav {
  width: 100%;
  height: 60px;
  z-index: 1;
  background-color:gainsboro;
  
}

nav .logoNav {
  width: 150px;
  top: 25%;
  left: 5%;
}

.navRigth {
    font-size: 1.5vw;
    color:grey;
    margin-top:2%;
    margin-bottom: 1%;
}

.navRigth:hover {
  color:black;
}

/*seccion Imagen*/
.imagenFondo{
    background-repeat: no-repeat;
    background-image: url(../img/taxiOk.png);
   
}
.registro{
    
    margin-top: 10%;
    margin-bottom: 10%;
    margin-right:0;
    padding-right: 0;
   
}
.estiloRegistro{
    background-color: #FFB300;
    padding: 5%;
    font-family:Helvetica;
    color: white;
    font-size:2vw;
    
}
.estiloRegistro>spam>img{
    margin-left: 3%;
    width: 20%;
}
.botton{
    color: black;
    margin: 2%;
}
.estiloRegistro>p{
    font-size:1.5vw;
    text-align: center;
}
/*seccion iPhone*/

.estiloiPhone{
    background-color: #FFB300;
    padding: 0%;
    font-family:Helvetica;
    color: white;
    font-size:2vw;
}
.textoApp{
    font-size:1.8vw;
    text-align:left;
}
.textoApp>h6{
    font-size:2.5vw;
}
.border{
    border-bottom: solid 1px;
    border-top: solid 1px;
    border-right: solid 1px;
    border-color:white;
    padding: 3%;
    margin-bottom: 3%;
    margin-left:0;
    margin-bottom: 3%;
    margin-top: 3%;
}
/*sec cion conductor*/

.imagenConductor{
    background-repeat: no-repeat;
    background-image: url(../img/ConductorOk.png);
    padding: 0;   
    
}
.bottonDos{
    color: white;
    background-color:#FFD54F; 
    margin: 0;
}
.estiloConductor{
    background-color:#283593;
    opacity: 0.5;
    filter: alpha(opacity=50); 
    margin: 0;
    
}
.textoConductor{
    padding: 5%;
    font-family:Helvetica;
    color: white;
    font-size:2vw;
    
}
.textoConductor>h6{
    font-size:2.5vw;
}
.paddingCero{
    padding: 0;
}
/*imput y mapa*/

.input {
    color: white;
    border: solid 1px;
    border-color: white;
    background-color: transparent;
    margin: 2%; 
}
.contenedor-mapa {
    border: solid 1px;
    border-color: white;
    margin: 2%;
    padding: 5%;
}

iframe {
  border-radius: 10px;
}